@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.home {
    padding: 60px 30px;
}

.random-meal-block {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}

.random-meal-block-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #d49726;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 58px;
    margin-bottom: 2rem;
}

.random-meal-block-img, .random-meal-block-text {
    flex-basis: 50%;
    text-align: center;
}

.random-meal-block-img img {
    border-radius: 8px;
    box-shadow: 10px 12px 29px -14px rgba(0, 0, 0, .75);
    object-fit: cover;
    width: 70%;
}

.search-block {
    align-items: center;
    display: flex;
    height: 46px;
    justify-content: center;
    margin: 0 auto 40px;
    position: relative;
    width: 360px;
}

.search-block input {
    background-color: #dcdcdc;
    border: none;
    border-radius: 3px;
    font-family: Raleway;
    height: 100%;
    outline: none;
    padding: 6px 12px;
    transition: all .15s;
    width: 100%;
}

.search-block button {
    background: #d49726;
    border: 0;
    border-radius: 0 3px 3px 0;
    color: #fff;
    cursor: pointer;
    font-family: Raleway;
    font-weight: 700;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100px;
}

.meal-block {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.meal-block img {
    border-radius: 4px;
    flex-basis: 20%;
    width: 100%;
}

.meal-block-info {
    font-family: Raleway;
    color: #000;
    width: fit-content;
}

.search-results {
    display: flex;
}