@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.header {
    align-items: center;
    background-color: #d49726;
    color: #fff;
    display: flex;
    font-size: 28px;
    font-weight: 700;
    justify-content: center;
    padding: 30px 0;
    text-decoration: none;
}

h1 {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: Cardo;
}